@import '../../node_modules/bootstrap/scss/bootstrap.scss';

#myTeaxtArea{
    border: none;
    box-shadow: 1px 1px 5px #c3c3c3;
    border-radius: 5px;
    color: #4e4e4e;
    outline: none;
    box-sizing: border-box;
    padding: 5px 10px;
}

@media(max-width: 900px){
    #createForm{
        width: 100% !important;
    }
}